body {
    background-color: #fffbf7;
}

h1 {
    color: #46484c;
    text-align: center;
    max-width: 100%;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}


img {
    max-width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }